.App {
  text-align: left;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.InputAnswers {
  text-align: center;
}

.closeButton {
  height: auto !important;
  width: 30px !important;
  margin: 5px !important;
}

.QuestionTable {
  cursor: auto;
}

.QuestionTable td {
  text-align: left; 
  vertical-align: middle;
}

.addButtons {
  padding-bottom: 10px;
}

.TdButtonAction 
{
  width: 15%;
  text-align: center !important;
}

.TdScore 
{
  width: 50px;
  text-align: center !important;
}

.invalidAsnwers {
  width: 100%;
  margin-top: 0.25rem !important;
  font-size: 0.875em !important;
  color: var(--bs-form-invalid-color) !important;
}
